go 1.22.2

use (
	./gocontext
	./gofiles/version1
	./gofiles/version2
	./gomath/v1/clockface
	./goreflection
	./goroman_numerals/v1
	./goroman_numerals/v2
	./gosync
	./gotemplating
	./webapp/command_line/v1
	./webapp/command_line/v2
	./webapp/httpserver/version1
	./webapp/httpserver/version2
	./webapp/io_sorting/version1
	./webapp/io_sorting/version2
	./webapp/io_sorting/version3
	./webapp/json_embedding
)
